/* إضافة خلفية للصفحة */
.pageContainer_bg {
  background-image: url('../../assets/backgrounds/flower-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
  @font-face {
  font-family: "Kidzhood Arabic";
  src: url("../assets/fonts/alfont_com_KidzhoodArabicDEMO-Light.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RTL Mocha Yemen Sadah";
  src: url("../assets/fonts/RTL-MochaYemen-Sadah.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
